# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCZgdI9ZPxARKu_xkT_ZtiUBO7u0Lh1yAI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="food-freshness-monitor-8603b.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="food-freshness-monitor-8603b"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="food-freshness-monitor-8603b.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="685387956691"
NEXT_PUBLIC_FIREBASE_APP_ID="1:685387956691:web:ae99171463099a56a8ef26"

# Backend FastAPI Server URL
NEXT_PUBLIC_API_URL="http://localhost:8000"
